<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <meta charset="UTF-8">
        <meta name="description" content="AnimePY - Rest API">
        <meta name="keywords" content="API, anime">
        <meta name="author" content="https://github.com/lbeete">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main-text-home">
            Welcome to AnimePY
        </div>
        <div class="base-url-text">
            Base URL: https://beete.xyz/api/v1/{req}
        </div>
        <section class="black-right-screen">
            <div class="black-opacity"> </div>
        </section>
    </body>
</html>